#!/bin/rc -e
#
# `prep/multi' is used to specify the source for bundle contents, whose links
# to the source service directory will be created; already existing directories
# will be skipped, so the user can customise bundle members if necessary.

~ $#* 1; cd $1
base=`{cat .prep/base}
for (srv in `{ls}) if ([ -f $srv/prep/multi ]) {
	src=`{cat $srv/prep/multi}
	for (dest in `{cat $srv/contents}) {
		if (! [ -d $dest ]) ln -sT $base/$src $dest
	}
}

