#!/bin/rc -e

. /etc/iface/fn.rc
if (! ~ $#* 2) {
	echo 'wtf?'
	exit 1
}
srv=/run/service/dhcpc.$1

[ -d $srv ] || exit 0
switch ($2) {
	case CONNECTED; $srv/data/dhcpc-renew $srv
	case DISCONNECTED; $srv/data/dhcpc-release $srv
	case *; echo 'wtf?'; exit 1
}

