#!/bin/rc -e
# Adds `dhcpc.vpn0' to the `ordep' of `tinc.srv' if it uses device `vpn0'.

~ $#* 1; cd $1
for (srv in `{ls | sed -nr 's/^tinc\.([^.]+)$/\1/p'}) {
	~ $#debug 0 || echo $srv
	dev=`{sed -nr 's/^Interface *= *([^ ]+).*/\1/p' < /etc/tinc/$srv/tinc.conf}
	if (~ $#dev 1) echo dhcpc.$dev >> tinc.$srv/prep/ordep
}

