#!/bin/rc -e
#
# Usage: /etc/slew/lib/build.rc main
#
# This script copies `/etc/slew/main' to `/etc/slew/prep.main', preprocesses it,
# and compiles it to `/etc/slew/db/main'; `/etc/slew/db/main' will be moved to
# `/etc/slew/db/old.main' if existent.  On a live system, this script would also
# update `/run/s6/compiled' if necessary, and finally run
# `s6-rc-update -n /etc/slew/db/compiled'.
#
# This script does not delete anything or trigger any real state transition, and
# the user is responsible for finally invoking `s6-rc-update' as well as
# deleting `/etc/slew/db/old.main' and `/etc/slew/prep.main'.

~ $#* 1 || exit 1
[ -d /run/s6-rc ] && live=1 || live=0
if (~ $live 1 && ! [ -L /run/s6-rc/compiled ]) exit 1
if ([ -d /etc/slew/db/old.$1 -o -d /etc/slew/prep.$1 ]) exit 1

if ([ -d /etc/slew/db/$1 ]) {
	if (
		~ $live 1 &&
		~ `{realpath /run/s6-rc/compiled} `{realpath /etc/slew/db/$1}
	) ln -snf /etc/slew/db/old.$1 /run/s6-rc/compiled
	mv /etc/slew/db/$1 /etc/slew/db/old.$1
} else mkdir -p /etc/slew/db
ln -snf $1 /etc/slew/db/compiled

cp -rL /etc/slew/$1 /etc/slew/prep.$1
/etc/slew/lib/prep.rc /etc/slew/lib/prep /etc/slew/prep.$1
s6-rc-compile -h fdholder /etc/slew/db/$1 /etc/slew/prep.$1
if (~ $live 1) s6-rc-update -n /etc/slew/db/compiled

